<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalman-Filter</title>
</head>

<body>
    <h1>Αποτελέσματα Kalman-Filter</h1>
    <div id="results">
        <h2>Original coordinates: <%= results[0].xHatOriginal %>
        </h2>
        <% for (let res of results) { %>
            <h2>Measurement <%= results.indexOf(res) + 1 %>
            </h2>
            <h3>xHatOriginal = <%= res.xHatOriginal %>
            </h3>
            <h3>xHat = <%= res.xHat %>
            </h3>
            <h3>xHatNew = <%= res.xHatNew %>
            </h3>
            <% } %>
    </div>

</body>

</html>